<!DOCTYPE html>
<html lang="en">
<head>
    <title>Twitch Grid</title>
</head>
<body>
    {{ game_list|length }} different games currently being streamed:
    <table>
    {% for game in game_list %}
        <tr>
            <td>{{ game.name }}</td>
            {% for key, value in game.streamers %}
                <tr>
                    <td>{{key}}</td><td>{{value}}</td>
                </tr>
{#                <td class="game"><a href="{{ streamer.url }}">{{ streamer.viewer_count }}</a></td>#}
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
</body>
</html>