{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Twitch Game Matrix</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}">
</head>
<body>
    {{ game_total }} different games being streamed at {{ update_time }} GMT
    <table>
    {% for game in page_obj %}
        <tr>
            <td class="game_container">
                <img src="{{ game.box_art_url | fill_height_width }}" alt="{{ game.name }}" class="game_thumbnail">
                <div class="centered">{{ game.name }}</div>
            </td>
            {% for streamer in game.streamers %}
                <td>
                    <a href="{{ streamer.url }}">
                        <img src="{{ streamer.thumbnail_url | fill_height_width }}" alt="{{ streamer.viewer_count }}" class="stream_thumbnail">
                        <div class="viewer_count">{{ streamer.viewer_count }}</div>
                    </a>
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>

    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</body>
</html>