.header {
    float: right;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    height: 70px;
    width: 70px;
    position: relative;
    color: white;
    text-shadow: -2px 2px 2px #000, 2px 2px 2px #000, 2px -2px 2px #000, -2px -2px 2px #000;
    text-align: left;
}

td a:link {
    color: white;
    text-decoration: none;
}

td a:visited {
    color: white;
    text-decoration: none;
}

td a:hover {
    color: mediumpurple;
    text-decoration: none;
}

.viewer_count {
    position: absolute;
    bottom: 5px;
    right: 3px;
}

.game_name {
    pointer-events: none;
    line-height: 1em;
    max-height: 1em;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 1000px;
}

.stream_thumbnail {
    width: 70px;
    height: 70px;
    border-radius: 5%;
}

.game_thumbnail {
    width: 70px;
    height: 70px;
    border-radius: 5%;
}
