table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

td {
    height: 70px;
    width: 70px;
    position: relative;
    color: white;
    text-shadow: 2px 0 rgba(0.1, 0.1, 0.1, 0.5);
    text-align: center;
}

td a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
    text-shadow: 2px 0 rgba(0.1, 0.1, 0.1, 0.9);
}

td a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
    text-shadow: 2px 0 rgba(0.1, 0.1, 0.1, 0.9);
}

td a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
    text-shadow: 2px 0 rgba(0.1, 0.1, 0.1, 0.9);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
