table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    height: 70px;
    width: 70px;
    position: relative;
    color: white;
    text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 2px #000, -1px -1px 2px #000;
    text-align: center;
}

td a:link {
    color: white;
    text-decoration: none;
}

td a:visited {
    color: white;
    text-decoration: none;
}

td a:hover {
    color: mediumpurple;
    text-decoration: none;
}

.viewer_count {
    position: absolute;
    bottom: 5px;
    right: 3px;
}

.centered {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    line-height: 1em;
    max-height: 4em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
}

.stream_thumbnail {
    width: 70px;
    height: 70px;
    border-radius: 5%;
}

.game_thumbnail {
    width: 70px;
    height: 70px;
    border-radius: 5%;
}
